---
layout: layout.njk
---

{%- for item in collections.places | reverse -%}

  <div class="w-full text-xl font-nunito_regular mb-6">
    <a href="{{ item.url }}">
      <div class="grid md:grid-cols-5">
        <div class="md:col-span-3 text-gray-700 hover:text-amber-700">
          {{ item.data.title }}</div>
        <div class="md:col-span-2 md:text-right text-gray-700 hover:text-amber-700">
          {{ item.data.travel_date }}
        </div>
      </div>
    </a>
  </div>

{%- endfor -%}

