---
layout: places.njk
date: "2018-04-17"
travel_date: "April 17-20, 2018"
title: Barcelona
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0139', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      La Rambla
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0160', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Cathedral of Barcelona
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0171', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Parc de la Ciutadella
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0177', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Parc de la Ciutadella
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0180', 'jpg', 'Barcelona' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0182', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0183', 'jpg', 'Barcelona' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0184', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0187', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Sagrada Família
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0202', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Park Güell
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0206', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Park Güell
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0210', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Park Güell
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0212', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Park Güell
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0225', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Montjuïc
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0226', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Montjuïc
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0231', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Montjuïc
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'barcelona_0232', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Montjuïc
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'barcelona_0238', 'jpg', 'Barcelona' %}
    <div class="note-credit">
      Montjuïc
    </div>
  </div>
</div>

