---
layout: places.njk
date: "2019-05-07"
travel_date: "May 7, 2019"
title: Cadiz
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cadiz_3', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cadiz_13', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cadiz_5', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cadiz_8', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cadiz_9', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cadiz_10', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cadiz_11', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cadiz_12', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cadiz_14', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cadiz_15', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cadiz_7', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>