---
layout: places.njk
date: "2019-05-10"
travel_date: "May 10, 2019"
title: Cannes
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cannes_8', 'jpg', 'Cannes' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cannes_9', 'jpg', 'Cannes' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cannes_2', 'jpg', 'Cannes' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cannes_3', 'jpg', 'Cannes' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'cannes_7', 'jpg', 'Cannes' %}
    <div class="note-credit">
      Paul McCartney's hand prints
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cannes_10', 'jpg', 'Cannes' %}
    <div class="note-credit">

    </div>
  </div>
</div>