---
layout: places.njk
date: "2015-12-03"
travel_date: "December 3, 2015"
title: Cleveland
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'cleveland_5126', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5069', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5076', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5080', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5089', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5099', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5105', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5107', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5123', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5128', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5129', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'cleveland_5109', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5133', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5143', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5144', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5152', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5154', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5155', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'cleveland_5158', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'cleveland_5162', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'cleveland_5132', 'jpg', 'Cleveland Art Museum' %}
    <div class="note-credit">

    </div>
  </div>
</div>