---
layout: places.njk
date: "2003-03-29"
travel_date: "March 2003"
title: Fernandina Beach
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'fernandina_0367', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0361', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0369', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0371', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0376', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0386', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0388', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'fernandina_0452', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0401', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0408', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-3 gap-8 pb-6">
  <div class="col-span-1">
    {% img 'half', 'fernandina_0354', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-1">
    {% img 'half', 'fernandina_0355', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-1">
    {% img 'half', 'fernandina_0356', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0400', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0460', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'fernandina_0405', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0411', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0424', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0456', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0391', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0382', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0384', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'fernandina_0425', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0359', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0409', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0370', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0393', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0461', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0395', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'fernandina_0380', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0392', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0422', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0398', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0418', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'fernandina_0383', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'fernandina_0438', 'jpg', 'Fernandina Beach' %}
    <div class="note-credit">

    </div>
  </div>
</div>