---
layout: places.njk
date: "2019-05-06"
travel_date: "May 6, 2019"
title: Lisbon
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'lisbon_5', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'lisbon_8', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'lisbon_9', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'lisbon_3', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'lisbon_4', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'lisbon_6', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'lisbon_7', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'lisbon_1', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'lisbon_2', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'lisbon_10', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'lisbon_11', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'lisbon_12', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'lisbon_14', 'jpg', 'Lisbon' %}
    <div class="note-credit">

    </div>
  </div>
</div>




