---
layout: places.njk
date: "2019-07-16"
travel_date: "July 16, 2019"
title: Liverpool
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'liverpool_0718', 'jpg', 'Beatles Statue' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2 flex flex-col justify-between">
    <div class="justify-start">
      {% img 'half', 'liverpool_0639', 'jpg', 'Royal Albert Docks' %}
      <div class="note-credit">
        Royal Albert Docks
      </div>
    </div>
    <div class="justify-end">
      {% img 'half', 'liverpool_0636', 'jpg', 'Museum of Liverpool' %}
      <div class="note-credit">
        Museum of Liverpool
      </div>
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'liverpool_0640', 'jpg', 'Royal Albert Docks' %}
    <div class="note-credit">
      Royal Albert Docks
    </div>
  </div>
</div>

<div class="grid md:grid-cols-3 gap-8 pb-2">
  <div class="col-span-1">
    {% img 'half', 'liverpool_0643', 'jpg', 'Museum of Liverpool - John and Yoko Exhibit' %}
    <div class="note-credit">
      Museum of Liverpool - John and Yoko Exhibit
    </div>
  </div>
  <div class="col-span-1">
    {% img 'half', 'liverpool_0651', 'jpg', 'Museum of Liverpool - John and Yoko Exhibit' %}
    <div class="note-credit">
      John and Yoko Exhibit
    </div>
  </div>
  <div class="col-span-1">
    {% img 'half', 'liverpool_0647', 'jpg', 'Museum of Liverpool - John and Yoko Exhibit' %}
    <div class="note-credit">
      John and Yoko Exhibit
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'liverpool_0650', 'jpg', 'Museum of Liverpool - John and Yoko Exhibit' %}
    <div class="note-credit">
      John and Yoko Exhibit
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'liverpool_0654', 'jpg', 'Museum of Liverpool - John and Yoko Exhibit' %}
    <div class="note-credit">
      John and Yoko Exhibit
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'liverpool_0648', 'jpg', 'Museum of Liverpool - John and Yoko Exhibit' %}
    <div class="note-credit">
      John and Yoko Exhibit
    </div>
  </div>
  <div class="col-span-2 flex flex-col justify-between">
    <div class="justify-start">
      {% img 'half', 'liverpool_0652', 'jpg', 'Museum of Liverpool - John and Yoko Exhibit' %}
      <div class="note-credit">
        John and Yoko Exhibit
      </div>
    </div>
    <div class="justify-end">
      {% img 'half', 'liverpool_0655', 'jpg', 'Museum of Liverpool - John and Yoko Exhibit' %}
      <div class="note-credit">
        John and Yoko Exhibit
      </div>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-4">
    {% img 'full', 'liverpool_0631', 'jpg', 'Royal Liver Building' %}
    <div class="note-credit">
      Royal Liver Building
    </div>
  </div>
</div>

<div class="grid md:grid-cols-3 gap-8 pb-2">
  <div class="col-span-1">
    {% img 'half', 'liverpool_0667', 'jpg', 'Royal Liver Building' %}
    <div class="note-credit">
      Royal Liver Building
    </div>
  </div>
  <div class="col-span-1">
    {% img 'half', 'liverpool_0715', 'jpg', 'Royal Liver Building' %}
    <div class="note-credit">
      Royal Liver Building
    </div>
  </div>
  <div class="col-span-1">
    {% img 'half', 'liverpool_0722', 'jpg', 'Royal Liver Building' %}
    <div class="note-credit">
      Royal Liver Building
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2 flex flex-col justify-between">
    <div class="justify-start">
      {% img 'half', 'liverpool_0672', 'jpg', 'Beatles Story Exhibition' %}
      <div class="note-credit">
        Beatles Story Exhibition
      </div>
    </div>
    <div class="justify-end">
      {% img 'half', 'liverpool_0686', 'jpg', 'Beatles Story Exhibition' %}
      <div class="note-credit">
        Beatles Story Exhibition
      </div>
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'liverpool_0669', 'jpg', 'Beatles Story Exhibition' %}
    <div class="note-credit">
      Beatles Story Exhibition
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'liverpool_0692', 'jpg', 'Penny Lane' %}
    <div class="note-credit">
      Penny Lane
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'liverpool_0701', 'jpg', "John Lennon's Boyhood Home" %}
    <div class="note-credit">
      John Lennon's Boyhood Home
    </div>
  </div>
</div>

<div class="grid md:grid-cols-3 gap-8 pb-2">
  <div class="col-span-1">
    {% img 'half', 'liverpool_0713', 'jpg', 'Matthew Street' %}
    <div class="note-credit">
      Matthew Street
    </div>
  </div>
  <div class="col-span-1">
    {% img 'half', 'liverpool_0707', 'jpg', 'Matthew Street' %}
    <div class="note-credit">
      Matthew Street
    </div>
  </div>
  <div class="col-span-1">
    {% img 'half', 'liverpool_0710', 'jpg', 'Matthew Street' %}
    <div class="note-credit">
      Matthew Street
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-4">
    {% img 'full', 'liverpool_0721', 'jpg', 'Port of Liverpool Building' %}
    <div class="note-credit">
      Port of Liverpool Building
    </div>
  </div>
</div>

<div class="grid md:grid-cols-5 gap-8 pb-2">
  <div class="col-span-3">
    {% img 'half', 'liverpool_0659', 'jpg', 'Penny Lane' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'liverpool_0689', 'jpg', "John Lennon's Boyhood Home" %}
    <div class="note-credit">

    </div>
  </div>
</div>