---
layout: places.njk
date: "2019-06-04"
travel_date: "June 4-7, 2019"
title: Llubljana
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'llubljana_13', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'llubljana_3', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'llubljana_4', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'llubljana_6', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'llubljana_7', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'llubljana_9', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'llubljana_5', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'llubljana_8', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'llubljana_11', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'llubljana_17', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'llubljana_1', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'llubljana_14', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'llubljana_15', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'llubljana_20', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'llubljana_21', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'llubljana_12', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'llubljana_2', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'llubljana_18', 'jpg', 'Llubljana' %}
    <div class="note-credit">

    </div>
  </div>
</div>