---
layout: places.njk
date: "2018-11-04"
travel_date: "November 2018"
title: Memphis
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_1', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Civil Rights Museum
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_3', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Civil Rights Museum
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_4', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Civil Rights Museum
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_5', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Civil Rights Museum
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_6', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Civil Rights Museum
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_7', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Civil Rights Museum
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_8', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Civil Rights Museum
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_9', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_10', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_11', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_12', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_13', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_14', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_15', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_16', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_23', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Beale Street
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_17', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_18', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_19', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Sun Records
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_20', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Beale Street
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_21', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Beale Street
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_24', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Beale Street
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'memphis_22', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Beale Street
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'memphis_25', 'jpg', 'Memphis' %}
    <div class="note-credit">
      Beale Street
    </div>
  </div>
</div>

