---
layout: places.njk
date: "2019-05-04"
travel_date: "May 4, 2019"
title: Ponta Delgada
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'ponta_delgada_3', 'jpg', 'Ponta Delgada' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'ponta_delgada_1', 'jpg', 'Ponta Delgada' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'ponta_delgada_2', 'jpg', 'Ponta Delgada' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'ponta_delgada_4', 'jpg', 'Ponta Delgada' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'ponta_delgada_5', 'jpg', 'Ponta Delgada' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'ponta_delgada_6', 'jpg', 'Ponta Delgada' %}
    <div class="note-credit">

    </div>
  </div>
</div>