---
layout: places.njk
date: "2003-03-28"
travel_date: "March 28 2003"
title: Savannah
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'savannah_0336', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'savannah_0350', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'savannah_0338', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'savannah_0326', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'savannah_0345', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'savannah_0348', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'savannah_0338', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'savannah_0339', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'savannah_0332', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'savannah_0327', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'savannah_0349', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'savannah_0347', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'savannah_0337', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'savannah_0317', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'savannah_0320', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'savannah_0352', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'savannah_0340', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'savannah_0344', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-2">
    {% img 'half', 'savannah_0341', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'savannah_0353', 'jpg', 'Savannah' %}
    <div class="note-credit">

    </div>
  </div>
</div>