---
layout: places.njk
date: "2019-06-22"
travel_date: "June 22-24, 2019"
title: Wurzburg
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-4">
    {% img 'full', 'wurzburg_0121', 'jpg', 'Fortress Wurzburg' %}
    <div class="note-credit">
      Fortress Marienberg
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'wurzburg_0113', 'jpg', 'Wurzburg Residence' %}
    <div class="note-credit">
      Wurzburg Residence
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'wurzburg_0135', 'jpg', 'Main River' %}
    <div class="note-credit">
      Main River
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'wurzburg_0111', 'jpg', 'Peace Church' %}
    <div class="note-credit">
      Peace Church
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'wurzburg_0126', 'jpg', 'Wurzburg' %}
    <div class="note-credit">
      
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-4">
    {% img 'full', 'wurzburg_0129', 'jpg', 'Wurzburg' %}
    <div class="note-credit">
      
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'wurzburg_0118', 'jpg', 'Court Chapel in the Würzburg Residence' %}
    <div class="note-credit">
      Court Chapel in the Würzburg Residence
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'wurzburg_0146', 'jpg', 'Käppele Sanctuary' %}
    <div class="note-credit">
      Käppele Sanctuary
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-4">
    {% img 'full', 'wurzburg_0143', 'jpg', 'Fortress Wurzburg' %}
    <div class="note-credit">
      Fortress Marienberg
    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'wurzburg_0133', 'jpg', 'Main River' %}
    <div class="note-credit">
      Main River
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'wurzburg_0145', 'jpg', 'Wurzburg' %}
    <div class="note-credit">
      
    </div>
  </div>
</div>