---
layout: places.njk
date: "1992-08-25"
travel_date: "August 1992"
title: Zermatt
tags: places
---

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'zermatt_09a', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_02', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_03', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_30', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_31', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'zermatt_06', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_04', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_05', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_10', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_13', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_14', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_15', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'zermatt_29', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_32', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_33', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_12', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_35', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_19', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_28', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'zermatt_36', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_11', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_26', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_20', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_21', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_17', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_18', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-6">
  <div class="col-span-4">
    {% img 'full', 'zermatt_37', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_22', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_23', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_24', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_25', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_16', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_34', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>

<div class="grid md:grid-cols-4 gap-8 pb-2">
  <div class="col-span-2">
    {% img 'half', 'zermatt_01', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'zermatt_08', 'jpg', 'Zermatt' %}
    <div class="note-credit">

    </div>
  </div>
</div>