<header class="relative">
  {% wideimg 'star', 'jpg', 'My Traveling Star' %}
  <a href="/">
    <div class="w-full absolute inset-x-auto bottom-0 text-gray-500 font-nunito_regular text-4xl text-center pb-4">
      My Traveling Star
    </div>
  </a>
</header>
